<!--==================================================
FOOTER PREMIUM
===================================================-->

<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="row gy-5">

                <!--=================================
                EMPRESA
                ==================================-->

                <div class="col-lg-4">
                    <div class="footer-brand">
                        <img src="assets/img/logo/logo-white.webp"
                             alt="SIPROY">

                        <p class="footer-description">
                            En SIPROY diseñamos, implementamos y administramos 
                            soluciones tecnológicas que fortalecen la seguridad, 
                            continuidad operativa y crecimiento de las empresas.
                        </p>
                    <!--
                        <div class="footer-social">
                            <a href="https://www.facebook.com/tuempresa"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="Facebook">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            
                            <a href="https://www.facebook.com/tuempresa"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="Facebook">
                                <i class="bi bi-facebook"></i>
                            </a>

                            <a href="https://www.facebook.com/tuempresa"
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="Facebook">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    -->
                    </div>
                </div>

                <!--=================================
                EMPRESA
                ==================================-->

                <div class="col-lg-2">
                    <h4 class="footer-title">
                        Empresa
                    </h4>

                    <ul class="footer-links">
                        <li><a href="#about">Nosotros</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#portfolio">Proyectos</a></li>
                        <li><a href="#clients">Clientes</a></li>
                        <li><a href="#partners">Partners</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                </div>

                <!--=================================
                SOLUCIONES
                ==================================-->

                <div class="col-lg-3">
                    <h4 class="footer-title">
                        Soluciones
                    </h4>

                    <ul class="footer-links">
                        <li>Infraestructura TI</li>
                        <li>Cloud Computing</li>
                        <li>Networking</li>
                        <li>Ciberseguridad</li>
                        <li>Soporte Tecnológico</li>
                        <li>Telefonia VoIP</li>
                    </ul>
                </div>

                <!--=================================
                CONTACTO
                ==================================-->

                <div class="col-lg-3">
                    <h4 class="footer-title">
                        Contáctanos
                    </h4>
                    <ul class="footer-contact">
                        <li>
                            <i class="bi bi-geo-alt-fill"></i>
                            Lima, Perú
                        </li>
                        <li>
                            <i class="bi bi-envelope-fill"></i>
                            administracion@siproysac.com
                        </li>
                        <li>
                            <i class="bi bi-telephone-fill"></i>
                            +51 931 302 436
                        </li>
                        <li>
                            <i class="bi bi-clock-fill"></i>
                            Lun - Sáb | 8:00 am - 6:00 pm
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--=================================
        COPYRIGHT
        ==================================-->

        <div class="footer-bottom">
            <p>
                © 2026 <strong>SIPROY</strong>.
                Todos los derechos reservados.
            </p>

            <p>
                Tecnología que impulsa negocios.
            </p>
        </div>
    </div>
    <button id="backToTop">
        <i class="bi bi-arrow-up"></i>
    </button>
</footer>