<!--==================================
HERO
===================================-->
<section id="hero" class="hero">
    <div class="hero-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <!-- Texto -->
            <div class="col-lg-5 hero-left">
                <span class="hero-top">
                    TECNOLOGÍA • INNOVACIÓN • SEGURIDAD
                </span>

                <h1>
                    SOLUCIONES
                    <br>
                    INTELIGENTES
                    <br>
                    PARA EMPRESAS
                    <br>
                    <span>MODERNAS</span>
                </h1>

                <p>
                    Diseñamos, implementamos y administramos infraestructura tecnológica segura, escalable y preparada para el crecimiento de tu empresa.
                </p>

                <div class="hero-buttons">
                    <a href="#contact" class="btn btn-siproy">
                        Solicitar Asesoría
                    </a>
                    <a href="#contact" class="btn btn-outline-light">
                        <i class="fa-brands fa-whatsapp"></i>
                        WhatsApp
                    </a>
                </div>
            </div>

            <!-- Imagen -->
            <div class="col-lg-7 hero-right">
                <div class="hero-card">
                    <img src="assets/img/hero/datacenter.webp"
                         alt="Centro de Datos">
                </div>
            </div>
        </div>
    </div>
</section>